


.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal {

  border: solid;
  border-width: 10px;
  overflow: scroll;
}

.modal-content {
  position: absolute;
  display:flex;
  flex-direction: column;
  gap:20px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 2000px;
  min-width: 300px;
}

.modal-content>button{
  align-self: center;
  width:50px;
}

.modal-content>h1{
  margin:0px;
  padding:0px;
  align-self: center;
}

.add-child-form{
  display:flex;
  flex-direction: column;
}